button, .button {
    background-color: #c1eef0;
    color: black;
    border-color: #fff;
    border-left-width: 0.1em;
    border-right-width: 0.1em;
    }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #e1f7f8;
    color: black;
  }
  button:hover, button:focus, .button:hover, .button:focus {
        color: black; }


.button  { 
	font-family:'code_boldregular'; 
	font-weight: normal; 
	font-style: normal;
    font-size: larger;
    letter-spacing: 0.12em;
    color:black;
}

.top-bar {
    background: #fff;
}

.button-group {
    margin-top: 0.5em;
}

.sub-nav dd.active a{
   background: #00b3be;
   color: white;
}

.sub-nav dd a{
    color:black;
}

.sub-nav dd.active a:hover {
    background: #00b3be;
}


body {
    font-family: 'latoregular', sans-serif;
}

li {
    margin: 0.5em;
}

h1, h1 a
{
    font-family: 'roboto_slabbold', serif;
    font-weight: bold;
    color: #00838b;
    margin-bottom: 1em;
    line-height: 1.5;
    font-size: 2em;
}

h2, h2 a {
    font-family: 'roboto_slabbold', serif;
    font-weight: normal;
    color: #00838b;
    font-size: 150%;
}

h3, h3 a {
    font-family: 'roboto_slabbold', serif;
    font-weight: normal;
    color: #00838b
}

    h3 a:hover, h3 a:focus {
        color: #005358;
    }

h4 {
    font-family: 'roboto_slabbold', serif;
    font-weight: normal;
    color: #00838b;
    font-size: 120%;
}

h5 {
    font-family: 'roboto_slabregular', serif;
    font-weight: bold;
    color: #00838b
}

h6 {
    font-family: 'roboto_slabregular', serif;
    font-weight: normal;
}


a {
    font-weight: normal;
    color: #00929b;
}

a:hover, a:focus, article a:focus {
    color: #027981;
    text-decoration: underline;
}

.no-bullet {
    padding-bottom: 5em;
}

.panel {
    border-style: none;
    background: #c1eef0;
    padding-bottom: 5em;
}
    .panel h5 {
	    font-family: 'code_boldregular'; 
	    font-weight: normal; 
	    font-style: normal; 
    }
    .panel img {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .panel a {
        font-family: 'latoregular', sans-serif;
    }

    .panel p {
        font-family: 'latoregular', sans-serif;
        font-size: medium;

    }

@media only screen and (max-width: 800px) {

   .panel p { font-size: smaller; }

}

.logo h1 {
    font-family: 'code_pro_light';
    font-weight: normal;
    font-style: normal;
    font-size: 400%;
    color: black;
    line-height:160%;
}

.logo a, .logo a:hover, .logo a:focus {
    text-decoration: none;
}

.logo apostrophe {
    color:#00b3be
}
.logo h1 justname {
    color:#00b3be;
    font-size: 120%;
}

h1.about {
    font-family: 'code_boldregular';
    letter-spacing: 0.12em;
    margin-top: 1.5em;
}
h1.aboutfirst {
    font-family: 'code_boldregular';
    letter-spacing: 0.12em;
}

listitem {
    margin-right: 1em;
}

.contact {
	    font-family: 'code_boldregular'; 
	    font-weight: normal; 
	    font-style: normal; 
    }

.no-bullet {
    margin-bottom: 2em;
}

.twittercontact a {
    background-image: url('../img/icons/twitter.png');
    background-repeat: no-repeat;
    content: "";
    display: inline;
    height: 32px;
    position: relative;
    width: 32px;
    text-indent: -999999em;
    margin-right: 10px;
    background-position: 0px 0px;
    float:left;
    margin: 5px;
}
  .twittercontact a:hover, .twittercontact a:focus {
    background-image: url('../img/icons/twitter_bw.png'); }

.githubcontact a {
    background-image: url('../img/icons/github.png');
    background-repeat: no-repeat;
    content: "";
    display: inline;
    height: 32px;
    position: relative;
    width: 32px;
    text-indent: -999999em;
    margin-right: 10px;
    background-position: 0px 0px;
    float:left;
    margin: 5px;
}
  .githubcontact a:hover, .githubcontact a:focus {
    background-image: url('../img/icons/github_bw.png'); }

.emailcontact a {
    background-image: url('../img/icons/email.png');
    background-repeat: no-repeat;
    content: "";
    display: inline;
    height: 32px;
    position: relative;
    width: 32px;
    text-indent: -999999em;
    margin-right: 10px;
    background-position: 0px 0px;
    float:left;
    margin: 5px;
}
  .emailcontact a:hover, .emailcontact a:focus {
    background-image: url('../img/icons/email_bw.png'); }


.linkedincontact a {
    background-image: url('../img/icons/linkedin.png');
    background-repeat: no-repeat;
    content: "";
    display: inline;
    height: 32px;
    position: relative;
    width: 32px;
    text-indent: -999999em;
    margin-right: 10px;
    background-position: 0px 0px;
    float:left;
    margin: 5px;
}

  .linkedincontact a:hover, .linkedcontact a:focus {
    background-image: url('../img/icons/linkedin_bw.png'); }


.lanyrdcontact a {
    background-image: url('../img/icons/lanyrd.png');
    background-repeat: no-repeat;
    content: "";
    display: inline;
    height: 32px;
    position: relative;
    width: 32px;
    text-indent: -999999em;
    margin-right: 10px;
    background-position: 0px 0px;
    float:left;
    margin: 5px;
}

  .lanyrdcontact a:hover, .lanyrdcontact a:focus {
    background-image: url('../img/icons/lanyrd_bw.png'); }

.rsscontact a {
    background-image: url('../img/icons/rss.png');
    background-repeat: no-repeat;
    content: "";
    display: inline;
    height: 32px;
    position: relative;
    width: 32px;
    text-indent: -999999em;
    margin-right: 10px;
    background-position: 0px 0px;
    float:left;
    margin: 5px;
}

  .rsscontact a:hover, .rsscontact a:focus {
    background-image: url('../img/icons/rss_bw.png'); }

article {
  font-family: 'latoregular', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility; }


p {
  font-family: 'latoregular', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility; }

table p {
  font-size:90%;
  margin:0px;
  padding:0px;
  margin-bottom:0px
}

p.post-meta {
  font-family: 'roboto_slabregular', serif;
  font-weight: normal;
  font-size: 1rem;
  line-height:150%;
  margin:15px 10px 30px 0px;
  text-align: right
}
p.post-meta-top {
  font-family: 'roboto_slabregular', serif;
  font-weight: normal;
  font-size: 1rem;
  line-height:150%;
  margin:15px 10px 30px 0px;
  text-align: left
}

th
{
    background-color: #e8f0f0;
}

.smallTable table {
    border: solid 1px #dddddd; 
    border-collapse: collapse;
}


.smallTable tr {
        border: 1px solid #dddddd;
}
.smallTable p {
    font-size: 90%;
    margin: 0px;
    padding: 0px;
    line-height: 0.85em;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
}

.edit {
    color: #535353;
}

.full-width {
  max-width: 1000px;
}

.footer {
  background-color: #c1eef0;
  padding: 2rem 4rem;
  text-align: left;
  color: black;
  margin-top: 4em;
}.footer .footer-links {
    text-align:left
}

.footer li {
    margin:0em;
}